<div class="row center-xy p-2 app-card my-2">
    <div class="col-6">
        <span>id : {{task.id}}</span>
    </div>
    <div class="col-6 text-end">
        <span class="bg-{{#ifEquals task.category 'personal' }}orange{{else}}violet{{/ifEquals}} text-white px-2 py-1">
            {{task.category}}
        </span>
    </div>
    <div class="col-9">
        <span class="d-block my-1">{{task.title_task}}</span>
        <span class="d-block my-1">{{task.discription}}</span>
    </div>
    <div class="col-3">
        <span class="center-xy">
            <input class="form-check-input" data-status-id="{{task.id}}" {{#ifEquals task.status 'done'}}checked{{/ifEquals}} type="checkbox" role="switch" id="{{task.id}}">
            <label class="form-check-label" for="{{task.id}}">
                &nbsp;{{task.status}}
            </label>
        </span>
    </div>
    <div class="col-12 my-2 text-end">
        <button type="button" class="p-1" data-edit-id="{{task.id}}">
            edit
        </button>
        <button type="button" class="p-1" data-delete-id="{{task.id}}">
            delete
        </button>
    </div>
</div>